# Firmware and vendor binaries - not redistributable, and large
# *.img - boot images are intentionally committed, see README
*.apk
*.zip
*.bin
*.elf
*.ko
payload.bin
extracted/
apks/
src/
props/
*.log
__pycache__/
*.pyc
